.card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    background-color: black;
    border-radius: 10px;
    color:#6366f1;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .card.in-view {
    opacity: 1;
    transform: translateY(0);
  }
  

  
  .card-container {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    margin-left:50px;
    margin-right:50px;
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex-direction: column;
      align-items: center;
    }
  }
  